In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
steel_df = pd.read_csv("../data/Steel- Property and Composition (Carbon Steel).csv", encoding="windows-1253")

In [17]:
steel_df.head(10)

,SAE Grade,Conditions,UTS (MPa),UTS (Ksi),YS (MPa),YS (ksi),Elongation (%),Reduction (%),Hardness (HB),C (Min),...,Si (Min),Si (Max),Ni (Min),Ni (Max),Cr (Min),Cr (Max),Mo (Min),Mo (Max),Ti (Min),Ti (Max)
0,1006,Hot rolled,295,43,165,24,30.0,55,86,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1006,Cold drawn,330,48,285,41,20.0,45,95,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1008,Hot rolled,305,44,170,24.5,30.0,55,86,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1008,Cold drawn,340,49,285,42,20.0,45,95,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1010,Hot rolled,325,47,180,26,28.0,50,95,0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1010,Cold drawn,365,53,305,44,20.0,40,105,0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1012,Hot rolled,330,48,185,27,28.0,50,95,0.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1012,Cold drawn,370,54,310,45,19.0,40,105,0.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1015,Hot rolled,345,50,190,28,28.0,50,101,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1015,Cold drawn,385,56,325,47,18.0,40,111,0.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
steel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SAE Grade       190 non-null    object
 1   Conditions      190 non-null    object
 2   UTS (MPa)       190 non-null    int64
 3   UTS (Ksi)       190 non-null    int64
 4   YS (MPa)        190 non-null    int64
 5   YS (ksi)        190 non-null    object
 6   Elongation (%)  190 non-null    float64
 7   Reduction (%)   190 non-null    object
 8   Hardness (HB)   190 non-null    object
 9   C (Min)         178 non-null    float64
 10  C (Max)         190 non-null    float64
 11  Mn (Min)        190 non-null    float64
 12  Mn (Max)        190 non-null    float64
 13  P (Min)         3 non-null      object
 14  P (Max)         190 non-null    float64
 15  S (Min)         28 non-null     float64
 16  S(Max)          190 non-null    float64
 17  Si (Min)        7 non-null      float64
 18  Si (Max)        7 non-null      float64
 19  Ni (Min)        7 non-null      float64
 20  Ni (Max)        7 non-null      float64
 21  Cr (Min)        7 non-null      float64
 22  Cr (Max)        7 non-null      float64
 23  Mo (Min)        5 non-null      float64
 24  Mo (Max)        5 non-null      float64
 25  Ti (Min)        0 non-null      float64
 26  Ti (Max)        0 non-null      float64
dtypes: float64(18), int64(3), object(6)
memory usage: 40.2+ KB

In [16]:
steel_df.describe()

,UTS (MPa),UTS (Ksi),YS (MPa),Elongation (%),C (Min),C (Max),Mn (Min),Mn (Max),P (Max),S (Min),...,Si (Min),Si (Max),Ni (Min),Ni (Max),Cr (Min),Cr (Max),Mo (Min),Mo (Max),Ti (Min),Ti (Max)
count,190.000000,190.000000,190.000000,190.000000,178.000000,190.000000,190.000000,190.000000,190.000000,28.000000,...,7.00,7.000000,7.000000,7.000000,7.000000,7.000000,5.000000,5.000000,0.0,0.0
mean,630.326316,165.973684,452.368421,16.925789,0.375225,0.422368,0.682211,0.947737,0.043105,0.112857,...,0.15,0.328571,1.342857,1.700000,0.614286,0.871429,0.122000,0.210000,NaN,NaN
std,205.887905,647.779205,200.220490,6.113167,0.190904,0.221142,0.320187,0.351414,0.025283,0.072052,...,0.00,0.026726,1.174531,1.268858,0.271898,0.367261,0.038341,0.054772,NaN,NaN
min,116.000000,43.000000,165.000000,10.000000,0.080000,0.015000,0.070000,0.120000,0.025000,0.040000,...,0.15,0.300000,0.400000,0.700000,0.400000,0.600000,0.080000,0.150000,NaN,NaN
25%,498.750000,74.000000,325.000000,12.000000,0.200000,0.230000,0.500000,0.800000,0.035000,0.080000,...,0.15,0.300000,0.400000,0.700000,0.400000,0.600000,0.080000,0.150000,NaN,NaN
50%,622.500000,91.000000,415.000000,15.000000,0.380000,0.430000,0.600000,0.900000,0.040000,0.080000,...,0.15,0.350000,1.100000,1.400000,0.550000,0.750000,0.150000,0.250000,NaN,NaN
75%,701.250000,102.000000,530.000000,21.775000,0.480000,0.530000,0.750000,1.000000,0.040000,0.080000,...,0.15,0.350000,2.050000,2.450000,0.775000,1.075000,0.150000,0.250000,NaN,NaN
max,1310.000000,7175.000000,1215.000000,32.500000,0.900000,1.030000,1.600000,1.900000,0.240000,0.260000,...,0.15,0.350000,3.000000,3.500000,1.000000,1.400000,0.150000,0.250000,NaN,NaN